.manageComponent{
	
	.title_box{
		display: flex;
		justify-content: space-between;
		width: 900px;
		margin-left: 40px;
		border-bottom: gray 1px solid;
	}
	.comp_title{
		margin-bottom: 20px;
		font-size: 1.3em;
        font-family: "Noto Sans KR", "맑은 고딕", Arial, Helvetica, sans-serif;
	}
	.saveBtn{
		margin-bottom: 10px;
		background-color: $green3;
		border: black 1px solid;
	}
}