.manageComponent{

	.comp_box{
		width: 90%;
		margin-left: 40px;
	}
	.title_box{
		display: flex;
		justify-content: space-between;
		border-bottom: gray 1px solid;
	}
	.comp_title{
		margin-bottom: 20px;
		font-size: 1.3em;
        font-family: "Noto Sans KR", "맑은 고딕", Arial, Helvetica, sans-serif;
	}
	.saveBtn{
		margin-bottom: 10px;
		background-color: $green3;
		border: black 1px solid;
	}
	.content_box{
		margin-top: 20px;
		display: flex;
	}
	.txt_title{
		width: 300px;
		font-size: 1.3em;
	}
	.member_box{
		margin: 0 10% 10% 10%;
		justify-content: center;
	}
	.member_inner{
		text-align: center;
		background-color: $green2;
		border-radius: 1.5em;
		padding-top: 10%;
		padding-bottom: 10%;
		font-size: 1.1em;
        font-family: "Noto Sans KR", "맑은 고딕", Arial, Helvetica, sans-serif;
	}
	.invite_inner{
		text-align: center;
		background-color: $green3;
		border: black 1px dashed;
		border-radius: 1.5em;
		padding-top: 10%;
		padding-bottom: 10%;
		font-size: 1.1em;
        font-family: "Noto Sans KR", "맑은 고딕", Arial, Helvetica, sans-serif;
	}
	.member_inner:hover, .invite_inner:hover{
		background-color: $green4;
		transition-duration: 0.4s;
	}
	.date_box{
		margin-top: 20px;
		display: flex;
	}
	.date_name{
		font-size: 1.2em;
		margin-right: 10px;
	}
	.date_pick{
		font-size: 1.1em;
		text-align: center;
		width: 140px;
		cursor: pointer;
	}
	.quit_box{
		width: 90%;
		justify-content: space-between;
		display: flex;
	}
	.quit_msg{
		font-size: 1.2em;
		word-break: keep-all;
	}
	.quitBtn{
		background-color: #f44;
		border-radius: 5px;
		margin-top: 300px;
		color: white;
	}
}
.inviteModalPaper {
	background-color: white;
	width: 50vw;
	max-height: 70vh;

	.head {
		font-size: 1.5rem;
		font-weight: bold;
		padding: 1rem 1rem;
		background-color: $green2;
		max-height: 20vh;
	}
	.body {
		padding: 1rem 1rem;
		display: flex;
		flex-direction: column;

		.input-con {
			display: flex;
			align-items: center;
		}
		.icon-con {
			display: flex;
			justify-content: center;
			margin-top: 1rem;
		}
	}
}
@media ( max-width: 600px ) {
    .manageComponent{
		.comp_box{
			margin-left: 10px;
		}
		.txt_title{
			width: 100%;
		}
		.quitBtn{
			margin-top: 180px;
		}
    }
}