.challengeMake{
	display: inline;
	flex-direction: row;
	align-items: center;
	overflow: hidden;

    .makefield{
        margin-left: 40px;
        margin-top: 20px;
    }
    .info_grid{
        margin-bottom: 30px;
        display: flex;
        align-items: center;
    }
    .intro_grid{
        display: flex;
    }
	.info_title{
		font-family: "Noto Sans KR", "맑은 고딕", Arial, Helvetica, sans-serif;
        font-size: 1.75em;
        margin-right: 40px;
	}
	.name_txt{
		width: 300px;
		font-size: 1.3em;
	}
    .category_txt{
        width: 300px;
        font-size: 1.3em;
	}
    .category_selfield{
        margin-left: 30px;
        width: 120px;
        font-size: 1.2em;
	}
    .date_field{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .date_check{
        margin-top: 7px;
        width: 20px;
        height: 20px;
        margin-left: 5px;
        margin-right: 15px;
    }
    .date_pick{
        text-align: center;
        width: 140px;
        margin-right: 30px;
        font-size: 1.1em;
    }
    .intro_txtfield{
		width: 500px;
        height: 200px;
        font-size: 1.1em;
	}
    .btn_out{
        width: 100%;
        margin-top: 20px;
    }
    .btn_cancel{
        margin-right: 2.5%;
        margin-left: 450px;
        padding: 2.5px 30px 2.5px 30px;
        font-family: "Noto Sans KR", "맑은 고딕", Arial, Helvetica, sans-serif;
        font-size: 1.3em;
        background-color: lightgray;
    }
    .btn_clear{
        padding: 2.5px 30px 2.5px 30px;
        font-family: "Noto Sans KR", "맑은 고딕", Arial, Helvetica, sans-serif;
        font-size: 1.3em;
        background-color: $green3;
    }
}
@media ( max-width: 500px ) {
    .challengeMake{
        
        .cha_name{
            font-size: 1.25em;
        }
        .name_txtfield{
            margin-left: 20px;
            font-size: 1em;
        }
        .category_txtfield{
            margin-left: 20px;
            font-size: 1em;
        }
        .category_selfield{
            margin-left: 20px;
            padding: 5%;
            font-size: 1em;
        }
        .intro_txtfield{
            margin-left: 10px;
            width: 300px;
            height: 150px;
            padding: 2%;
            font-size: 0.8em;
        }
        .btn_out{
            text-align: right;
        }
        .btn_cancel{
            margin-left: 0px;
        }
        .btn_clear{
            margin-right: 50px;
        }
    }
}