.challengeMake{
	display: inline;
	flex-direction: row;
	align-items: center;
	overflow: hidden;

    .makefield{
        margin-left: 4vw;
        margin-top: 6vh;
    }
    .name_grid{
        margin-bottom: 5vh;
    }
    .linefield{
        margin-left: 20px;
        width: 360px;
    }
	.cha_name{
		font-family: "Noto Sans KR", "맑은 고딕", Arial, Helvetica, sans-serif;
        font-size: 1.75em;
	}
	.name_txtfield{
        margin-left: 50px;
        padding: 2%;
        font-size: 1.5em;
	}
    .category_txtfield{
        margin-left: 50px;
        vertical-align: middle;
        padding: 3%;
        font-size: 1.5em;
	}
    .category_selfield{
        margin-left: 30px;
        padding: 5%;
        font-size: 1.5em;
	}
    .date_check{
        margin-right: 10px;
    }
    .date_txtfield{
        margin-left: 30px;
        margin-right: 50px;
        padding: 2%;
        font-size: 1.3em;
	}
    .intro_txtfield{
        margin-left: 50px;
		width: 500px;
        height: 200px;
        padding: 2%;
        font-size: 1.1em;
	}
    .btn_out{
        width: 100%;
        margin-top: 20px;
    }
    .btn_cancel{
        margin-right: 2.5%;
        margin-left: 450px;
        padding: 2.5px 30px 2.5px 30px;
        font-family: "Noto Sans KR", "맑은 고딕", Arial, Helvetica, sans-serif;
        font-size: 1.3em;
        background-color: #f200a1;
    }
    .btn_clear{
        padding: 2.5px 30px 2.5px 30px;
        font-family: "Noto Sans KR", "맑은 고딕", Arial, Helvetica, sans-serif;
        font-size: 1.3em;
        background-color: $green3;
    }
}
@media ( max-width: 500px ) {
    .challengeMake{
        
        .cha_name{
            font-size: 1.25em;
        }
        .name_txtfield{
            margin-left: 20px;
            font-size: 1em;
        }
        .category_txtfield{
            margin-left: 20px;
            font-size: 1em;
        }
        .category_selfield{
            margin-left: 20px;
            padding: 5%;
            font-size: 1em;
        }
        .date_txtfield{
            margin-left: 5px;
            margin-right: 20px;
            font-size: 0.8em;
        }
        .intro_txtfield{
            margin-left: 10px;
            width: 300px;
            height: 150px;
            padding: 2%;
            font-size: 0.8em;
        }
        .btn_out{
            text-align: right;
        }
        .btn_cancel{
            margin-left: 0px;
        }
        .btn_clear{
            margin-right: 50px;
        }
    }
}