.challengeInfoFix{
	.body{
		display: flex;
		height: auto;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.title{
		margin-top: 10vh;
		margin-bottom: 5vh;
		font-size: 40px;
		font-weight: 500;
		font-family: 'Courier New', Courier, monospace;
	}
	.status_box{
		font-family: 'Courier New', Courier, monospace;
	}
	.box{
		display: flex;
		border: 1px solid black;
		width: 1000px;
		height: 400px;
		justify-content: center;
		align-items: center;
		margin-bottom: 5vh;

		.left-con{
			width: 100%;
	
			.myGrass{
				display: flex !important;
				flex-direction: column;
				flex-wrap: wrap;
				align-content: center;
				height: 350px;

				.setBtn{
					background-color: white;
					border: none;
					color: white;
					
					.grass{
						width: 40px;
						height: 40px;
						margin: 5px;
						border-radius: 10%;
					}
					.fill-grass{
						background-color: $green3;
					}
					.unfill-grass{
						background-color: antiquewhite;
					}
				}
			}
		}
	}
	.Btn{
		font-size: 3vmin;
		margin-left: 3vw;
		width: 10vw;
		background: $green3;
		border-radius: 1%;
	}
	.btnSet{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		width: 70vw;
		height: 7vh;
	}
	
}