.colorTest {
	.box {
		padding: 40px;
		font-size: 20px;
		text-align: center;
		color: black;
	}
	.box1 {
		background-color: $ghost-white;
	}
	.box2 {
		background-color: $antique-white;
	}
	.box3 {
		background-color: $green1;
	}
	.box4 {
		background-color: $green2;
	}
	.box5 {
		background-color: $green3;
	}
	.box6 {
		background-color: $green4;
	}
	.box7 {
		background-color: $green5;
	}
}