.logIn {
    //vertical-align: middle;
    margin:0 auto;
}
.logInForm {
    flex-direction: column;
    display: inline-flex;
}

.textByForm{
    flex-direction: row;
    display: inherit;
    margin-top:20px;
    .text{
        width : 30px;
        align-self:center;
    }
}

.btn{
    color:aquamarine;
}