.manageChallenge{
	display: inline-block;
	flex-direction: row;
	align-items: center;
	overflow: hidden;

    .content{
        margin-top: 20px;
        margin-left: 20px;
    }
	.cha_nameBox{
		background-color: $green2;
        border: black 1px solid;
        border-radius: 20px;
        text-align: center;
        width: 220px;
        height: 80px;
        margin-bottom: 20px;
        display: table;
	}
    .cha_name{
        display: table-cell;
        vertical-align: middle;
        font-size: 1.3em;
        font-family: "Noto Sans KR", "맑은 고딕", Arial, Helvetica, sans-serif;
        word-break: keep-all;
	}
	.tab_sel{
		border-bottom: black 1px solid;
		margin-bottom: 20px;
	}
	.tab_box{
		padding-bottom: 10px;
		border-bottom: $green3 5px solid;
		display: inline-flex;
	}
}