.mypage{
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
	touch-action: none;

	.profile{
		justify-content: center;
		height: 70vh;
		width: 90vmax;
	}
	.pro_img{
		border: black 1px solid;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		width: 20vmin;
		height: 20vmin;
	}
	.pro_title{
		justify-content: flex-end;
	}
	.pro_name{
		font-family: 'Courier New', Courier, monospace;
	}
	.pro_email{
		font-family: 'Courier New', Courier, monospace;
	}
	.pro_github{
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
	}
	.pro_nameFix{
		width: 15vmax;
	}
	.pro_emailFix{
		width: 15vmax;
	}
	.pro_githubFix{
		width: 15vmax;
	}
	.pro_password{
		height: 5vmin;
		padding-left: 4vmax;
		padding-right: 4vmax;
		background-color: $green3;
	}
	.pro_secession{
		height: 5vmin;
		padding-left: 1vmax;
		padding-right: 1vmax;
		background-color: $green3;
	}
	.pro_save{
		height: 5vmin;
		padding-left: 1vmax;
		padding-right: 1vmax;
		background-color: $green3;
	}
}