.register-term{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    height:100%;
    .terms{
        width: 80vh;
        height: 40vh;
        margin-top: 20vh;
        overflow-y: auto; //스크롤 생성 
        .stuff{
            .title{
                text-align: center; 
                font-weight: bold;
            }
            margin: 2vh;
            margin-top: 5vh;
        }
    }
    .checkform {
        width: 80vh;
        margin-top: 2vh;
        display: flex;
        justify-content: flex-end;       
        .btn{
            width: 5rem;
            background-color: $green3;
        }
        .MuiButton-contained{
            box-shadow: none;
        }
        .MuiButton-label{
            font-size: 1rem;
        }
        .MuiIconButton-colorSecondary:hover {
            background-color: rgba(56,82,59,0.1);
        }
        .MuiCheckbox-colorSecondary.Mui-checked{
            color: $green4;
        }
    }
}