.register{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .btn{
        // width: 5rem;
        background-color: $green3 !important;
        margin-left: 1vw;
    }
    .btn-nextHelper{
        // width: 5rem;
        background-color: $green3 !important;
        margin-left: 1vw;
        margin-bottom: 19.2px; //helpertext부분 height가 19.2 
    }
    .MuiButton-contained{
        box-shadow: none;
    }
    .MuiButton-label{
        font-size: 1rem;
    }
    .MuiIconButton-colorSecondary:hover {
        background-color: rgba(56,82,59,0.1);
    }
    .MuiCheckbox-colorSecondary.Mui-checked{
        color: $green4;
    }
    .terms{
        width: 80vh;
        height: 40vh;
        
        overflow-y: auto; //스크롤 생성 
        .stuff{
            .title{
                text-align: center; 
                font-weight: bold;
            }
            margin: 2vh;
            margin-top: 5vh;
        }
    }
    .checkform {
        width: 80vh;
        margin-top: 2vh;
        display: flex;
        justify-content: flex-end;       
    }
    
    .MuiBox-root {
        display: flex;
        align-items: center;
    }
    .register-form{
        // margin-top:10vh;
        .wrap-form{
            width: 400px;
        }
        .wrap-btn{
            margin-top: 5vh;
            width: 600px;
            display: flex;
            justify-content: flex-end;
        }
        .MuiInputBase-root{
            width: 250px;
        }
    }
    .register-complete {
        display: flex;
        flex-direction: row;
        align-items: center;
        p{
            margin-left: 1vw;
            margin-bottom: 1vh;
            font-size: 20px;
        }
        .title{
            font-size: 30px;
            font-weight: bolder;
        }
        .MuiSvgIcon-root {
            width: 15vw;
            height: 15vw;
        }
        .btn {
            margin-top: 2vh;
        }
    }
}