.resignChallenge{
	display: inline-block;
	flex-direction: row;
	align-items: center;
	overflow: hidden;

    .content{
        margin-top: 20px;
        margin-left: 20px;
    }
	.cha_nameBox{
		background-color: $green2;
        border: black 1px solid;
        border-radius: 20px;
        text-align: center;
        width: 220px;
        height: 80px;
        margin-bottom: 20px;
        display: table;
	}
    .cha_name{
        display: table-cell;
        vertical-align: middle;
        font-size: 1.3em;
        font-family: "Noto Sans KR", "맑은 고딕", Arial, Helvetica, sans-serif;
        word-break: keep-all;
	}
    .comp_all{
        width: 70vw;
    }
	.comp_box{
		width: 90%;
		margin-left: 40px;
	}
	.title_box{
		display: flex;
		justify-content: space-between;
		border-bottom: gray 1px solid;
	}
	.comp_title{
		margin-bottom: 20px;
		font-size: 1.3em;
        font-family: "Noto Sans KR", "맑은 고딕", Arial, Helvetica, sans-serif;
	}
	.content_box{
		margin-top: 20px;
		display: flex;
	}
	.member_box{
		margin: 0 10% 10% 10%;
		justify-content: center;
	}
	.member_inner{
		text-align: center;
		background-color: $green2;
		border-radius: 1.5em;
		padding-top: 10%;
		padding-bottom: 10%;
		font-size: 1.1em;
        font-family: "Noto Sans KR", "맑은 고딕", Arial, Helvetica, sans-serif;
	}
}
@media ( max-width: 600px ) {
    .resignChallenge{
        .content{
            margin-left: 5vw;
            margin-right: 5vw;
        }
        .cha_nameBox{
            width: 90vw;
            height: 50px;
            padding-bottom: 3px;
        }
		.comp_box{
			margin-left: 10px;
		}
    }
}